@{
    ViewBag.Title = "Contact us!";
}
<section>
    <h3>@ViewBag.Title</h3>
    <p>
        <strong>Kravaritis Efstathios:</strong> efstathis.kravaritis@gmail.com
    </p>
    <p>
        <strong>Stoumpou Eleni:</strong> elenstoump@gmail.com
    </p>
    <p>
        <strong>Chountas Kostas:</strong> k.chountas@gmail.com
    </p>
    <p>
        <strong>Ouzounis Petros:</strong> ouzounhs.petros@gmail.com
    </p>
    <p>
        <strong>Besbalta Alexandros:</strong> alex.besbalta@gmail.com
    </p>
</section>

