@model int

<a href="@Url.Action("Index","Cart", null)">
    <i class="fas fa-shopping-cart"></i>
    @if (Model != 0)
    {
        <span class="translate-middle-y badge rounded-pill mycolor">@Model</span>
    }
</a>
